#basilisk-container{
  width: 100vw;
  height: 100%;
  display: flex;
}

#basilisk-container aside{
  width:35%;
  overflow: scroll;
}

#title-container{
  text-align:center;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#store-select{
  padding: 1rem;
  display: flex;
  justify-content: center;
}

#store-select button{
  background-color: white;
  border:1px solid black;
  padding: 0.5rem 0.75rem;
  text-transform: uppercase;
  margin: 0 0.5rem;
}

#store-select button:hover{
  border: 2px solid black;
}

#store-select select{
  width: 250px;
  margin: 0 0.5rem;
  text-align: center;
  padding: 0.5rem 0.75rem;
}

#iframe-container{
  width: 65%;
  height: 100%;
}

#iframe-container iframe{
  width: 100%;
  height: 100%;
}

.locations-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locations-container h2{
  text-align: center;
}

.locations-container a:link,
.locations-container a:visited{
  text-decoration: none;
  color: black;
}